@{
    ViewData["Title"] = "Orders Page";
}

<h2>API Tokens</h2>
<p id="RToken"></p>
<p id="AToken"></p>
<button id="tokens">Get tokens</button>
<h2>Last order from Pixlpark</h2>
<button id="orders">Get order</button>
<p id="OTitle"></p>

<script>
    const publickey = "38cd79b5f2b2486d86f562e3c43034f8";
    const privatekey = "8e49ff607b1f46e1a5e8f6ad5d312a80";
    var oauth_token,
        request_token,
        access_token,
        atoken_url,
        api_password;
    $(document).ready(function () {
        $("#tokens").click(function () {
            $.get("https://cors-anywhere.herokuapp.com/http://api.pixlpark.com/oauth/requesttoken", function (response_rt) {
                //response
                oauth_token = response_rt.RequestToken;
                api_password = sha1(oauth_token + privatekey);
                atoken_url = oauth_token + "&grant_type=api&username=" + publickey + "&password=" + api_password;
                $("#RToken").text("RequestToken : " + oauth_token);
                $.get("https://cors-anywhere.herokuapp.com/http://api.pixlpark.com/oauth/accesstoken?oauth_token=" + atoken_url, function (response_at) {
                    //response
                    oauth_token = response_at.AccessToken;
                    $("#AToken").text("AccessToken : " + oauth_token);
                    return oauth_token;
                });
            });
        });
        $("#orders").click(function () {
            if (oauth_token) {
                $.get("https://cors-anywhere.herokuapp.com/http://api.pixlpark.com/orders?Oauth_token=" + oauth_token + "&take=1", function (response_orders) {
                    //response
                    var order_info = response_orders.Result[0];
                    $('#OTitle').html("Последний заказ : " + order_info.Title);
                });
            } else {
                alert("Pleas, click on Get tokens");
            }
        });
    });
</script>
